@font-face {
    font-family: 'IBM-VGA';
    font-style: normal;
    font-weight: 400;

    src: url(./fonts/PxPlus_ToshibaSat_9x16.ttf) format('opentype')
}

@media (max-width: 1300px){
    .nav-image {
        display: none;
    }
    nav {
        justify-content: center;
    }
    .name-group {
        display: none;
    }
}

@media (max-width: 1236px){
    nav li {
        margin-bottom: 1.25rem;
    }
    .navlist {
        justify-content: center;
    }
    h1 {
        line-height: 32px;
    }
}

@media (max-width: 800px) {
    .aside {
        display: none;
    }
}

::-moz-selection {
    color: black;
    background: lime;
  }
  
  ::selection {
    color: black;
    background: lime;
  }

html {
    height: 100%;
    box-sizing: border-box;
    background: #111;
    padding: 1em;
    font-family: 'IBM-VGA', monospace;
    color: #eee;
    font-size: 1.25em;
    line-height: 1;
    letter-spacing: 0.125em;
}
body {
    /*display: flex;*/
    text-align: center;
    background-color: #000;
    line-height: 100%;
    color: #aaa;
    overflow-x: hidden;
    animation-duration: 0.015s;
    animation-name: flicker;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
body.xform {
    overflow-y: scroll;
    margin: 0;
    line-height: 16px
}

/*This adds a "crt scanlines" effect to the screen*/
.crt-scanlines::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 4;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}

/*This adds a "flickering screen" effect*/
.crt-flicker::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 1s infinite;
}

@keyframes flicker {
    0% {opacity: 0.87861;}
    50% {opacity: 0.96019;}
    100% {opacity: 0.84387;}
}

/*Adds a "color separation flicker" effect to all text*/
.crt-colorsep {
    animation: textShadow 1.6s infinite;
}

@keyframes textShadow {
    0% {text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    5% {text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    10% {text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    15% {text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    20% {text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    25% {text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    30% {text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    35% {text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    40% {text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    45% {text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    50% {text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    55% {text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    60% {text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    65% {text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    70% {text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    75% {text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    80% {text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    85% {text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    90% {text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    95% {text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
    100% {text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;}
}

.content {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: visible;
    /* height: 100%; */
}
.main {
    flex: 100%;
    flex-direction: column;
    padding: 20px;
    /* height: 100%; */
}
.aside {
    flex: 15%;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 20px;
    border-right: gray 1px solid;
}
footer {
    display: flex;
    align-content: center;
    text-align: center;
    width: 100%
}
nav {
    display: flex;
    width: 100%;
    background: #2e2e2e repeat-x scroll 0 7px;
    z-index: 4;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
    column-gap: 2rem;
    text-align-last: right;
}
.navlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
nav li a {
    padding: 14px 20px;
    margin: 8px;
    text-decoration: none;
    text-align: center;
    background-color: maroon;
    box-shadow: 8px 9px 0 0 black;
    line-height: 160%;
}
nav li a:hover {
    background-color: red;
    color: #fff;
}
nav li a:active {
    background-color: yellow;
    color: black;
}
.aside ul {
    margin: 0;
    list-style-type: square;
}
.aside li {
    margin-bottom: 1.75rem;
}
.aside li a {
    padding: 6px 8px;
    text-decoration: none;
    text-align: center;
    background-color: maroon;
    box-shadow: 8px 9px 0 0 #444;
    line-height: 160%;
}
.aside li a:hover {
    background-color: red;
    color: #fff;
}
.aside li a:active {
    background-color: yellow;
    color: black;
}
a, a:visited {
    border-color: #aaa ;
    background-color: transparent ;
    color: lightgray;
}
a:hover {
    color:rgb(255, 196, 0);
}
a:active {
    color:rgb(255, 94, 0);
}
a:link {
    text-decoration: none
}
p {
    margin: 0 0 1em;
    padding: 0;
    text-align: left;
    word-break: break-word
}
hr {
    padding: 0;
    margin: 7px 0 8px;
    height: 1px;
    background-color: #444;
    border-width: 0
}
table {
    border-collapse: collapse
}
th {
    font-weight: 400
}
td {
    padding: 0 4px
}
thead {
    background-color: #222;
    border-top: 1px solid #555;
    border-bottom: 3px double #555;
    border-left: 2px solid #555;
    border-right: 2px solid #555
}
tbody {
    border-left: 2px solid #555;
    border-right: 2px solid #555;
    border-bottom: 1px solid #555
}
tbody td {
    padding: 0.5rem;
}
tbody tr:nth-child(odd) {
    background-color: #111;
    color: #fff;
}
#content h1 {
    color: #fff;
    font-weight: 400;
    margin: 0;
    text-shadow: 2px 2px 0 #555
}
.important {
    color: #000;
    background-color: rgb(255, 196, 0);
    display: inline-block;
    font-weight: 400;
    text-align: center;
    padding: 16px 15px 14px;
    margin: 24px auto 40px auto;
    box-shadow: 8px 9px 0 0 #333
}
h2 {
    color: #000;
    background-color: rgb(255, 196, 0);
    display: inline-block;
    font-size: 100%;
    font-weight: 400;
    text-align: center;
    padding: 9px 8px 7px;
    margin: 24px auto 40px auto;
    box-shadow: 8px 9px 0 0 #333
}
h3, h4 {
    font-size: 100%;
    font-weight: 400;
    text-align: left
}
h3 {
    padding: 0 0 7px;
    margin: 0 0 24px -.3px;
    color: #c60;
    border-bottom: 1px solid #b00
}
h4 {
    box-sizing: border-box;
    margin: 0 0 1em -.3px;
    color: #b00;
    display: inline-block;
    padding-right: 1ch
}
strong, b, .strong {
    font-weight: 400;
    color: yellow;
}
input[type=submit], button {
    color: lightgray;
    text-align: left;
    background-color: maroon;
    border-width: 0;
    padding: 8px 8px;
    margin: 1rem 1rem 1rem 1rem;
    box-shadow: 1ch 8px 0 0 #111;
    line-height: 1em;
    font-family: 'IBM-VGA', monospace;
    font-size: larger;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 3; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: maroon; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
}

#myBtn:hover {
    background-color: red;
}

#myBtn:active {
    background-color:  yellow;
    color: black;
}

button:hover {
    background-color: red;
}
button:active{
    background-color:  yellow;
    color: black;
}
input[type="checkbox"] {
    accent-color: maroon;
    transform: scale(1);
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    outline: 2px solid gray;
    width: 30px;
    height: 30px;
    margin: 5px;
}
input[type="checkbox"]:hover{
    background-color: maroon;
}
input[type="checkbox"]:checked{
    background-color: red;
}
input[type="checkbox"]:active{
    background-color: yellow;
}
input[type=submit]:enabled:hover, input[type=button]:enabled:hover {
    background-color: #aaa;
    color: #000;
    cursor: pointer
}
input[type=submit]:disabled, input[type=button]:disabled {
    color: #444
}
input, select {
    border-bottom: 1px solid #aaa;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    background: #000;
    color: #c60;
    margin: 0 0 0 1ch;
    padding-top: 0;
    vertical-align: baseline;
    height: 2em;
    width: 100%;
    box-sizing: content-box;
    font-family: 'IBM-VGA', monospace;
    font-size: large;
}
input[type=text]:focus {
    color: #fff;
    background-color: #005
}
form, input, textarea {
    box-sizing: border-box;
    box-shadow: 1ch 8px 0 0 #222;
}
textarea {
    border-right: 2px solid #888;
    border-bottom: 1px solid #888;
    border-left: 2px solid #444;
    border-top: 1px solid #444;
    color: #aaa;
    background-color: #000
}
textarea:focus {
    color: #fff;
    background-color: #005
}
.nav-image{
    margin: 0.75rem;
    box-shadow: 8px 9px 0 0 black;
}
ul {
    display: inline-block;
    list-style-type: none;
    text-align: left;
    padding-inline-start: 0px;
}
.card-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 100%;
    gap: 1rem;
}
.card {
    border: 1px solid #444;
}
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: fit-content;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}
/* Modal Content/Box */
.modal-content {
    background-color: #222;
    margin: 5% auto 30% auto;
    padding: 20px;
    border: 1px solid #888;
    position: relative;
    width: 80%;
}
.close {
    margin: 2rem;
    color: #aaa;
    float: right;
    font-size: 72px;
    font-weight: bold;
}
.close:active {
    color: maroon;
    text-decoration: none;
    cursor: pointer;
}
.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}