@media (max-width: 768px) {
    table {
        font-size: 0.9rem;
    }

    .aside {
        flex: 1 1 100%;
    }

    .main {
        flex: 1 1 100%;
    }
}

.pdf-viewer {
    max-width: 100%;
    height: auto;
}